.App {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-template-areas:
    "empty week"
    "times week";
  grid-template-columns: max-content;
}

.week {
  grid-area: week;
  display: grid;
  grid-auto-flow: column;
}
.times {
  grid-area: times;
}
